.custom-nav {
  padding-top: 5px;
}

.nav-logo {
  width: 80px;
  padding: 0;
  margin: 0;
}

.custom-nav-item {
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.custom-title {
  font-size: 2em;
  font-weight: 300;
}

.custom-paragraph {
  font-size: 0.9em;
}

.custom-title {
  font-weight: 500;
  font-size: 1.5em;
}

.custom-card {
  width: 21rem;
  margin: auto;
  margin-bottom: 2rem;
}

@media screen and (max-width: 700px) {
  .custom-card {
    width: 30rem;
    margin: auto;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1221px) {
  .custom-card {
    width: 25rem;
    margin: auto;
    margin-bottom: 2rem;
  }
}
